.container {
    display: flex;
    flex-flow: column;
}

.board {
    display: flex;
    flex-flow: column;
}

.postBoard {
    display: flex;
    flex-direction: column;
}

.postList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* resposive */
@media (min-width: 400px) {
    .postList {
        grid-template-columns: 1fr
    }
}

@media (min-width: 600px) {
    .postList {
        grid-template-columns: 1fr 1fr
    }
}

@media (min-width: 800px) {
    .postList {
        grid-template-columns: repeat(3, 1fr);
    }
}
