.container{
    display: flex;
    flex-flow: column;
    text-align: center;
}

.errorImg {
    margin-bottom: 30px;
}

.link {
    font-family: 'Verdana', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: saddlebrown;
}

@media (min-width: 400px) {
    .board {
        flex-flow: column wrap;
    }
}

@media (min-width: 700px) {
    .board {
        flex-flow: column wrap;
    }
}

@media (min-width: 800px) {
    .board {
        flex-flow: column;
    }
}